@model VirtualVistaHub.Models.Property

<h1 class="text-center">Информация за имота</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.TypeOfProperty, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.TypeOfProperty, new List<SelectListItem>
            {
                new SelectListItem { Value = "1-Стаен", Text = "1-Стаен"},
                new SelectListItem { Value = "2-Стаен", Text = "2-Стаен" },
                new SelectListItem { Value = "3-Стаен", Text = "3-Стаен" },
                new SelectListItem { Value = "4-Стаен", Text = "4-Стаен" },
                new SelectListItem { Value = "Многостаен", Text = "Многостаен" },
                new SelectListItem { Value = "Мезонет", Text = "Мезонет" },
                new SelectListItem { Value = "Офис", Text = "Офис" },
                new SelectListItem { Value = "Магазин", Text = "Магазин" },
                new SelectListItem { Value = "Склад", Text = "Склад" },
                new SelectListItem { Value = "Хотел", Text = "Хотел" },
                new SelectListItem { Value = "Къща", Text = "Къща" },
            }, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeOfProperty, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        <label class="col-sm-2 col-form-label">Град</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.District, new List<SelectListItem>
            {
                new SelectListItem { Value = "Благоевград", Text = "Благоевград", Selected = true },
                new SelectListItem { Value = "Бургас", Text = "Бургас" },
                new SelectListItem { Value = "Варна", Text = "Варна" },
                new SelectListItem { Value = "ВеликоТърново", Text = "Велико Търново" },
                new SelectListItem { Value = "Видин", Text = "Видин" },
                new SelectListItem { Value = "Враца", Text = "Враца" },
                new SelectListItem { Value = "Габрово", Text = "Габрово" },
                new SelectListItem { Value = "Добрич", Text = "Добрич" },
                new SelectListItem { Value = "Кърджали", Text = "Кърджали" },
                new SelectListItem { Value = "Кюстендил", Text = "Кюстендил" },
                new SelectListItem { Value = "Ловеч", Text = "Ловеч" },
                new SelectListItem { Value = "Монтана", Text = "Монтана" },
                new SelectListItem { Value = "Пазарджик", Text = "Пазарджик" },
                new SelectListItem { Value = "Перник", Text = "Перник" },
                new SelectListItem { Value = "Плевен", Text = "Плевен" },
                new SelectListItem { Value = "Пловдив", Text = "Пловдив" },
                new SelectListItem { Value = "Разград", Text = "Разград" },
                new SelectListItem { Value = "Русе", Text = "Русе" },
                new SelectListItem { Value = "Силистра", Text = "Силистра" },
                new SelectListItem { Value = "Сливен", Text = "Сливен" },
                new SelectListItem { Value = "Смолян", Text = "Смолян" },
                new SelectListItem { Value = "София", Text = "София" },
                new SelectListItem { Value = "СтараЗагора", Text = "Стара Загора" },
                new SelectListItem { Value = "Търговище", Text = "Търговище" },
                new SelectListItem { Value = "Хасково", Text = "Хасково" },
                new SelectListItem { Value = "Шумен", Text = "Шумен" },
                new SelectListItem { Value = "Ямбол", Text = "Ямбол" }
            }, new { @class = "form-control", @id = "DistrictDropdown" })
            @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.Neighbourhood, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-10">
            @Html.DropDownList("Neighbourhood", new List<SelectListItem>
            {
            }, new { @class = "form-select", @id = "NeighbourhoodDropdown" })
            @Html.ValidationMessageFor(model => model.Neighbourhood, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.TypeOfConstruction, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.TypeOfConstruction, new List<SelectListItem>
            {
                new SelectListItem { Value = "Панел", Text = "Панел" },
                new SelectListItem { Value = "Тухла", Text = "Тухла" },
                new SelectListItem { Value = "ЕПК", Text = "ЕПК" },
                new SelectListItem { Value = "ПК", Text = "ПК" },
                new SelectListItem { Value = "Гредоред", Text = "Гредоред" },
                new SelectListItem { Value = "Сглобяема конструкция", Text = "Сглобяема конструкция" }
            }, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeOfConstruction, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.AdditionalInformation, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.AdditionalInformation, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.AdditionalInformation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row align-items-center">
        @Html.LabelFor(model => model.TypeOfSale, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.TypeOfSale, new List<SelectListItem>
            {
                new SelectListItem { Value = "Наем", Text = "Наем" },
                new SelectListItem { Value = "Продажба", Text = "Продажба"}
            }, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeOfSale, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
            <input type="submit" value="Продължи" class="btn btn-default" />
        </div>
    </div>
</div>
}

<script src="~/Scripts/districtAreas.js"></script>
