@model VirtualVistaHub.Models.ViewPropertyModel

<div class="container property-detail">
    <div class="header mb-4 mt-4">
        <div class="property-info d-flex align-items-center">
            <img src="~/Content/imgs/icon.png" alt="Logo" style="width: 30px;" class="me-3">
            <p class="mb-0">Вид на имота: 2-Стaен</p>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-6 seller-info">
            <h5>Информация за продавача: </h5>
            <p>Първо име:  @Model.User.FirstName</p>
            <p>Фамилно име: @Model.User.LastName</p>
            <p>Телефонен номер: @Model.Property.PhoneNumber</p>
        </div>
        <div class="col-md-6 flex-column align-items-center">
            <h5>Информация за имота: </h5>
            <p>Област: @Html.DisplayFor(model => model.Property.District)</p>
            <p>Квартал: @Html.DisplayFor(model => model.Property.Neighbourhood)</p>
            @if (Model.Property.TypeOfSale == "Наем")
            {
            <p>Цена на месец: @Model.Property.Price.ToString("N0") лв.</p>
            }
            else
            {
            <p>Цена: @Model.Property.Price.ToString("N0") лв.</p>
            }
            <p>Квадратура: @Model.Property.Area кв. м.</p>
            <p>Вид на строителството: @Model.Property.TypeOfConstruction</p>
            <p id="typeofsale">Вид на обявата: @Model.Property.TypeOfSale</p>
        </div>
    </div>
    <iframe id="blueprint3dFrame" width="100%" height="600px"></iframe>
    <div class="gallery mt-4">
        @if (Model.ImagePaths != null && Model.ImagePaths.Length > 0)
        {
        <div class="row">
            @foreach (var imagePath in Model.ImagePaths)
            {
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <a href="@Url.Content($"~/Uploads/{Model.Property.PropertyDetailsTable}/{imagePath}")" data-lightbox="property-images">
                    <img src="@Url.Content($"~/Uploads/{Model.Property.PropertyDetailsTable}/{imagePath}")" alt="Property Image" class="img-thumbnail w-100" style="height: 400px; object-fit: cover;">
                </a>
            </div>
            }
        </div>
        }
    </div>

    <div class="mt-4">
        <h5>Допълнителна информация</h5>
        <div class="additional-info border p-3 mb-4">
            @Model.Property.AdditionalInformation
        </div>
    </div>
</div>

@if (Session["userLevel"].ToString() == "none" && Session["idUser"].ToString() != Model.User.UserId.ToString())
{
    <button type="button" class="request-link requestbtn btn-primary mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#confirmRequestModal" data-property-id="@Model.Property.PropertyId" data-table-name="@Model.Property.PropertyDetailsTable">Направи заявка</button>

}
<div class="modal fade" id="confirmRequestModal" tabindex="-1" aria-labelledby="confirmRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRequestModalLabel">Потвърждение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style=" background-color: white; border-color: black; "></button>
            </div>
            <div class="modal-body">
                Наистина ли искате да заявите този имот?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="rejectBtn">Откажи</button>
                <button type="button" class="btn btn-success" id="confirmRequestBtn">Потвърди</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
        var encodedJsonData = '@Model.PropertyDetails.VTour';
        var jsonData = HtmlDecode(encodedJsonData);
        var iframe = document.getElementById('blueprint3dFrame');
         
        if (jsonData != "none") {
            var srcUrl = 'http://localhost:8000/example?loadRoom=' + encodeURIComponent(JSON.stringify(jsonData));
            iframe.src = srcUrl;
        } else {
            iframe.style.display = 'none';
        }

        var propertyId;

        $('.request-link').click(function () {
            propertyId = $(this).data('property-id');
        });

        $('#rejectBtn').click(function () {
            window.location.href = '@Url.Action("Search", "Home")';
        });

        $('#confirmRequestBtn').click(function () {
            var element = document.getElementById('typeofsale');
            var request;

            if (element == "Наем")
                request = "Rent"
            else
                request = "Sale"

            if (@Model.Property.UserId == @Session["idUser"])
                window.location.href = '@Url.Action("Unauthorized", "Home")';
            else
                window.location.href = '@Url.Action("Requested", "Property")?propertyId=' + propertyId + '&typeofrequest=' + request;
        });

        function HtmlDecode(input) {
            var e = document.createElement('textarea');
            e.innerHTML = input;
            // handle case where browser might break with &quot; decoding
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }
    });
    </script>
}