@model List<VirtualVistaHub.Models.PropertyDetailsTemplate>

@{
    ViewBag.Title = "VisualDetails";
}

<h2>Visual Details</h2>

@if (Model != null && Model.Count > 0)
{
    <div>
        @foreach (var property in Model)
        {
            <h4>Property Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Property Id
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => property.PropertyId)
                </dd>

                <dt>
                    Coordinates Of VTour
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => property.CoordinatesOfVTour)
                </dd>

                <dt>
                    Image
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => property.Image)
                </dd>

                <dt>
                    Video
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => property.Video)
                </dd>

                <dt>
                    User Id
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => property.UserId)
                </dd>
            </dl>
        }
    </div>
}
else
{
    <p>No properties found for the specified criteria.</p>
}

<p>
    @Html.ActionLink("Back to List", "Properties")
</p>
