@model Tuple<VirtualVistaHub.Models.PropertySearchViewModel, VirtualVistaHub.Models.PaginationModel>

<h1 class="text-center">Търси</h1>
<div class="container my-5">
    <div class="pagination-container text-center">
        <ul class="pagination" style="margin-left: 0">
            @if (Model.Item2.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Search", new { typeOfProperty = Model.Item1.TypeOfProperty, district = Model.Item1.District, neighbourhood = Model.Item1.Neighbourhood, typeOfConstruction = Model.Item1.TypeOfConstruction, typeOfSale = Model.Item1.TypeOfSale, page = Model.Item2.Page - 1 })">Предишна</a>
                </li>
            }
            @for (int i = 1; i <= Model.Item2.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Item2.Page ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Search", new { typeOfProperty = Model.Item1.TypeOfProperty, district = Model.Item1.District, neighbourhood = Model.Item1.Neighbourhood, typeOfConstruction = Model.Item1.TypeOfConstruction, typeOfSale = Model.Item1.TypeOfSale, page = i })">@i</a>
                </li>
            }
            @if (Model.Item2.Page < Model.Item2.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Search", new { typeOfProperty = Model.Item1.TypeOfProperty, district = Model.Item1.District, neighbourhood = Model.Item1.Neighbourhood, typeOfConstruction = Model.Item1.TypeOfConstruction, typeOfSale = Model.Item1.TypeOfSale, page = Model.Item2.Page + 1 })">Следваща</a>
                </li>
            }
        </ul>
    </div>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <div class="row g-3 mb-4">
            <div class="col-md-3">
                @Html.DropDownList("TypeOfProperty", new List<SelectListItem>
                {
                    new SelectListItem { Value = "1-Стаен", Text = "1-Стаен" },
                    new SelectListItem { Value = "2-Стаен", Text = "2-Стаен" },
                    new SelectListItem { Value = "3-Стаен", Text = "3-Стаен" },
                    new SelectListItem { Value = "4-Стаен", Text = "4-Стаен" },
                    new SelectListItem { Value = "Многостаен", Text = "Многостаен" },
                    new SelectListItem { Value = "Мезонет", Text = "Мезонет" },
                    new SelectListItem { Value = "Офис", Text = "Офис" },
                    new SelectListItem { Value = "Магазин", Text = "Магазин" },
                    new SelectListItem { Value = "Склад", Text = "Склад" },
                    new SelectListItem { Value = "Хотел", Text = "Хотел" },
                    new SelectListItem { Value = "Къща", Text = "Къща" },
                }, "Вид на имота", new { @class = "form-select" })
            </div>
            <div class="col-md-3">
                @Html.DropDownList("District", new List<SelectListItem>
                {
                    new SelectListItem { Value = "Благоевград", Text = "Благоевград" },
                    new SelectListItem { Value = "Бургас", Text = "Бургас" },
                    new SelectListItem { Value = "Варна", Text = "Варна" },
                    new SelectListItem { Value = "ВеликоТърново", Text = "Велико Търново" },
                    new SelectListItem { Value = "Видин", Text = "Видин" },
                    new SelectListItem { Value = "Враца", Text = "Враца" },
                    new SelectListItem { Value = "Габрово", Text = "Габрово" },
                    new SelectListItem { Value = "Добрич", Text = "Добрич" },
                    new SelectListItem { Value = "Кърджали", Text = "Кърджали" },
                    new SelectListItem { Value = "Кюстендил", Text = "Кюстендил" },
                    new SelectListItem { Value = "Ловеч", Text = "Ловеч" },
                    new SelectListItem { Value = "Монтана", Text = "Монтана" },
                    new SelectListItem { Value = "Пазарджик", Text = "Пазарджик" },
                    new SelectListItem { Value = "Перник", Text = "Перник" },
                    new SelectListItem { Value = "Плевен", Text = "Плевен" },
                    new SelectListItem { Value = "Пловдив", Text = "Пловдив" },
                    new SelectListItem { Value = "Разград", Text = "Разград" },
                    new SelectListItem { Value = "Русе", Text = "Русе" },
                    new SelectListItem { Value = "Силистра", Text = "Силистра" },
                    new SelectListItem { Value = "Сливен", Text = "Сливен" },
                    new SelectListItem { Value = "Смолян", Text = "Смолян" },
                    new SelectListItem { Value = "София", Text = "София" },
                    new SelectListItem { Value = "СтараЗагора", Text = "Стара Загора" },
                    new SelectListItem { Value = "Търговище", Text = "Търговище" },
                    new SelectListItem { Value = "Хасково", Text = "Хасково" },
                    new SelectListItem { Value = "Шумен", Text = "Шумен" },
                    new SelectListItem { Value = "Ямбол", Text = "Ямбол" }
                }, "Град", new { @class = "form-select", @id = "DistrictDropdown" })
            </div>
            <div class="col-md-3">
                @Html.DropDownList("Neighbourhood", new List<SelectListItem>
                {
                }, "Квартал", new { @class = "form-select", @id = "NeighbourhoodDropdown" })
            </div>
            <div class="col-md-3">
                @Html.DropDownList("TypeOfConstruction", new List<SelectListItem>
                {
                    new SelectListItem { Value = "Панел", Text = "Панел" },
                    new SelectListItem { Value = "Тухла", Text = "Тухла" },
                    new SelectListItem { Value = "ЕПК", Text = "ЕПК" },
                    new SelectListItem { Value = "ПК", Text = "ПК" },
                    new SelectListItem { Value = "Гредоред", Text = "Гредоред" },
                    new SelectListItem { Value = "Сглобяема конструкция", Text = "Сглобяема конструкция" }
                }, "Вид строителство", new { @class = "form-select" })
            </div>
            <div class="col-md-3">
                @Html.DropDownList("TypeOfSale", new List<SelectListItem>
                {
                    new SelectListItem { Value = "Наем", Text = "Наем" },
                    new SelectListItem { Value = "Продажба", Text = "Продажба" }
                }, "Тип на обява", new { @class = "form-select" })
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-primary">Филтрирай</button>
            </div>
        </div>
    }
    <div class="row">
        @foreach (var property in Model.Item1.Properties.Where(p => p.Deleted != true && p.Sold != true && p.WantToBuy != true))
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-6">
                            @{
                                var propertyDetails = Model.Item1.PropertyDetails[property.PropertyId];
                                var tableName = propertyDetails.TableName;
                                var firstImagePath = propertyDetails.FirstImagePath;
                            }
                            <div class="property-image bg-light d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content($"~/Uploads/{tableName}/{firstImagePath}")');">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-column">
                            <div class="card-body d-flex flex-column justify-content-between text-start" style="height: 350px;">
                                <h5 class="card-title">@property.TypeOfProperty в @property.District, @property.Neighbourhood</h5>
                                @if (property.TypeOfSale == "Наем")
                                {
                                    <p class="card-text"><strong>Цена:</strong> @property.Price.ToString("N0") лв./на месец</p>
                                }
                                else
                                {
                                    <p class="card-text"><strong>Цена:</strong> @property.Price.ToString("N0") лв.</p>
                                }
                                <p class="card-text"><strong>Квадратура:</strong> @property.Area кв. м.</p>
                                <p class="card-text"><strong>Тип на строителство:</strong> @property.TypeOfConstruction</p>
                                <p class="card-text"><strong>Телефонен номер:</strong> @property.PhoneNumber</p>
                                <p class="card-text"><strong>Тип на обявата:</strong> @property.TypeOfSale</p>
                                <div class="d-flex justify-content-end">
                                    <a href="@Url.Action("ViewProperty", "Property", new { propertyId = property.PropertyId })" class="btn btn-dark" style="color: white;">Виж още</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/districtAreas.js"></script>