@model VirtualVistaHub.Models.ViewPropertyModel

@{
    ViewBag.Title = "ViewProperty";
}

<h2>ViewProperty</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property.TypeOfProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.TypeOfProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.TypeOfConstruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.TypeOfConstruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.AdditionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.AdditionalInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.TypeOfSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.TypeOfSale)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.PropertyDetails.VTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyDetails.VTour)
        </dd>

        @if (Model.ImagePaths != null && Model.ImagePaths.Length > 0)
        {
            foreach (var imagePath in Model.ImagePaths)
            {
                <div class="image-item">
                    <img src="@Url.Content($"~/Uploads/{Model.Property.PropertyDetailsTable}/{imagePath}")" alt="Property Image" class="img-thumbnail" style="max-width: 100px;" />
                </div>
            }
        }
        else
        {
            <p>No images found for this property.</p>
        }

    </dl>
</div>
<a href="#" class="request-link" data-bs-toggle="modal" data-bs-target="#confirmRequestModal" data-property-id="@Model.Property.PropertyId" data-table-name="@Model.Property.PropertyDetailsTable">Delete</a>
<div class="modal fade" id="confirmRequestModal" tabindex="-1" aria-labelledby="confirmRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRequestModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to request this property?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmRequest">Make a request</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var propertyId, tableName;

            $('.request-link').click(function () {
                propertyId = $(this).data('property-id');
                tableName = $(this).data('table-name');
            });

            $('#confirmRequestBtn').click(function () {
                window.location.href = '@Url.Action("Request", "Property")?propertyId=' + propertyId;
            });
        });
    </script>
}
