<!DOCTYPE html>
<html lang="en-US" class="twbb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtualVistaHub</title>

    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    @Styles.Render("~/Content/css")
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
</head>
<body class="page-template page-template-elementor_header_footer page page-id-499963 page-parent theme-tenweb-website-builder-theme woocommerce-no-js elementor-default elementor-template-full-width elementor-kit-499981 elementor-page elementor-page-499963">
    @{
        string userLevel = Session["userLevel"] as string;
        string userFirstname = Session["UserFirstname"] as string;
    }

    @if (userLevel == "superadmin")
    {
        @Html.Partial("_SuperAdminNav")
        <div class="container-fluid">
            <div class="row">
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    @RenderBody()
                </main>
            </div>
        </div>
    }
    else if (userLevel == "admin")
    {
        @Html.Partial("_AdminNav")
        <div class="container-fluid">
            <div class="row">
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    @RenderBody()
                </main>
            </div>
        </div>
    }
    else if (userLevel == "moderator")
    {
        @Html.Partial("_ModeratorNav")
        <div class="container-fluid">
            <div class="row">
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    @RenderBody()
                </main>
            </div>
        </div>
    }
    else if (userFirstname != null && userLevel == "none")
    {
        @Html.Partial("_LoggedInNav")
    }
    else
    {
        @Html.Partial("_PublicNav")
    }

    @RenderBody()

    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').click(function () {
                $('.sidebar').toggleClass('open');
            });
        });
    </script>
</body>
</html>
