<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtualVistaHub</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/property.css")
    @Styles.Render("~/Content/css/site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        string userLevel = Session["userLevel"] as string;
        string userFirstname = Session["UserFirstname"] as string;
        int userId = Session["userId"] != null ? Convert.ToInt32(Session["userId"]) : 0;
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="d-flex w-100 justify-content-between">
                    <ul class="navbar-nav me-auto">
                        @if (userLevel != "none")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Изтриване на имот", "Properties", "Staff", new { area = "" }, new { @class = "nav-link text-dark" })
                            </li>
                        }
                        @if (userLevel == "admin" || userLevel == "superadmin")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Редактиране на потребител", "Users", "Staff", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Изтриване на потребител", "Users", "Staff", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                            </li>
                        }
                        @if (userLevel == "superadmin")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Промяна на ниво на потребител", "UserLevel", "Staff", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                            </li>
                        }
                        @if (userLevel == "none")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("За нас", "AboutUs", "Home", new { area = "" }, new { @class = "nav-link text-dark border-end border-dark pe-3" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Контакти", "Contacts", "Home", new { area = "" }, new { @class = "nav-link text-dark border-end border-dark pe-3" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Търси", "Search", "Home", new { area = "" }, new { @class = "nav-link text-dark pe-3" })
                            </li>
                        }
                    </ul>

                    @if (userLevel == "none")
                    {
                        <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Home", new { area = "" })">
                            <img width="200" src="@Url.Content("~/Content/imgs/logo.png")" />
                        </a>
                    }

                <ul class="navbar-nav ms-auto">
                    @if (userFirstname != null && userLevel == "none")
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Заявки/Заявени", "Requests", "Property", new { area = "" }, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Твойте имоти", "Properties", "Home", new { area = "" }, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Акаунт", "Account", "Home", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Отпиши се", "Logout", "Home", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                        </li>
                    }
                    else if (userLevel != "none")
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Одобряване на имот", "ApproveInformation", "Staff", new { area = "" }, new { @class = "nav-link text-dark border-start" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Редактиране на имот", "Properties", "Staff", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Впиши се", "Login", "Home", new { area = "" }, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Регистрирай се", "Signup", "Home", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                        </li>
                    }

                    @if (userLevel != "none")
                    {
                    <li class="nav-item">
                        @Html.ActionLink("Отпиши се", "Logout", "Home", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                    </li>
                    }
                </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
