<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtualVistaHub</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/property.css")
    @Styles.Render("~/Content/css/site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        string userLevel = Session["userLevel"] as string;
        string userFirstname = Session["UserFirstname"] as string;
    }

    @if (userLevel == "superadmin")
    {
        @Html.Partial("_SuperAdminNav")
    }
    else if (userLevel == "admin")
    {
        @Html.Partial("_AdminNav")
    }
    else if (userLevel == "moderator")
    {
        @Html.Partial("_ModeratorNav")
    }
    else if (userFirstname != null && userLevel == "none")
    {
        @Html.Partial("_LoggedInNav")
    }
    else
    {                     
        @Html.Partial("_PublicNav")
    }

    <div class="container-fluid">
        <div class="row">
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </main>
        </div>
    </div>

    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').click(function () {
                $('.sidebar').toggleClass('open');
            });
        });
    </script>
</body>
</html>
