<!DOCTYPE html>
<html lang="en-US" class="twbb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtualVistaHub</title>

    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    @Styles.Render("~/Content/css")
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
</head>
<body class="page-template page-template-elementor_header_footer page page-id-499963 page-parent theme-tenweb-website-builder-theme woocommerce-no-js elementor-default elementor-template-full-width elementor-kit-499981 elementor-page elementor-page-499963">
    @{
        string userLevel = Session["userLevel"] as string;
        string userFirstname = Session["UserFirstname"] as string;
    }


    @if (userLevel == "superadmin")
    {
        <div class="d-flex" id="d-flex-container">
            <div class="flex-shrink-0" id="d-flex-shrink">
                @Html.Partial("_SuperAdminNav")
            </div>
            <div class="flex-grow-1 ms-3" id="d-flex-grow">
                @RenderBody()
            </div>
        </div>
    }
    else if (userLevel == "admin")
    {
        <div class="d-flex" id="d-flex-container">
            <div class="flex-shrink-0" id="d-flex-shrink">
                @Html.Partial("_AdminNav")
            </div>
            <div class="flex-grow-1 ms-3" id="d-flex-grow">
                @RenderBody()
            </div>
        </div>
    }
    else if (userLevel == "moderator")
    {
        <div class="d-flex" id="d-flex-container">
            <div class="flex-shrink-0" id="d-flex-shrink">
                @Html.Partial("_ModeratorNav")
            </div>
            <div class="flex-grow-1 ms-3" id="d-flex-grow">
                @RenderBody()
            </div>
        </div>
    }
    else if (userFirstname != null && userLevel == "none")
    {
        <div class="d-flex" id="d-flex-container">
            <div class="flex-shrink-0" id="d-flex-shrink">
                @Html.Partial("_LoggedInNav")
            </div>
            <div class="flex-grow-1 ms-3 text-center" id="d-flex-grow">
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_PublicNav")
        @RenderBody()
    }

    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    @Scripts.Render("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').click(function () {
                $('.sidebar').toggleClass('open');
            });

            $(window).on('load resize', function () {
                if ($(window).width() <= 768) {
                    $('#d-flex-container').removeClass('d-flex');
                    $('#d-flex-shrink').removeClass('flex-shrink-0');
                    $('#d-flex-grow').removeClass('flex-grow-1');
                    $('#d-flex-grow').removeClass('ms-3');
                }
            });
        });
    </script>
</body>
</html>
