<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <nav class="sidebar bg-light">
                    <ul class="nav flex-column">
                        <li class="nav-item text-center">
                            <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Home" , new { area="" })">
                                <img width="200" src="@Url.Content("~/Content/imgs/logo.png")" />
                            </a>
                        </li>
                        <li class="nav-item my-2">
                            @Html.Raw(Html.ActionLink("За нас", "AboutUs", "Home", new { area = "" }, new { @class = "btn btn-sidebar text-white" }).ToString().Replace(">За нас<", "><i class='fas fa-info-circle'></i> За нас<"))
                        </li>
                        <li class="nav-item my-2">
                            @Html.Raw(Html.ActionLink("Контакти", "Contacts", "Home", new { area = "" }, new { @class = "btn btn-sidebar text-white" }).ToString().Replace(">Контакти<", "><i class='fas fa-address-book'></i> Контакти<"))
                        </li>
                        <li class="nav-item my-2">
                            @Html.Raw(Html.ActionLink("Търси", "Search", "Home", new { area = "" }, new { @class = "btn btn-sidebar text-white" }).ToString().Replace(">Търси<", "><i class='fas fa-search'></i> Търси<"))
                        </li>
                        <li class="nav-item my-2">
                            @Html.Raw(Html.ActionLink("Заявки", "Requests", "Property", new { area = "" }, new { @class = "btn btn-sidebar text-white" }).ToString().Replace(">Заявки<", "><i class='fas fa-tasks'></i> Заявки<"))
                        </li>
                        <li class="nav-item my-2">
                            @Html.Raw(Html.ActionLink("Твойте имоти", "Properties", "Home", new { area = "" }, new { @class = "btn btn-sidebar text-white" }).ToString().Replace(">Твойте имоти<", "><i class='fas fa-home'></i> Твойте имоти<"))
                        </li>
                        <li class="nav-item my-2">
                            @Html.Raw(Html.ActionLink("Акаунт", "Account", "Home", new { area = "" }, new { @class = "btn btn-sidebar text-white" }).ToString().Replace(">Акаунт<", "><i class='fas fa-user'></i> Акаунт<"))
                        </li>
                        <li class="nav-item my-2">
                            @Html.Raw(Html.ActionLink("Отпиши се", "Logout", "Home", new { area = "" }, new { @class = "btn btn-sidebar text-white" }).ToString().Replace(">Отпиши се<", "><i class='fas fa-sign-out-alt'></i> Отпиши се<"))
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
</header>
