<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="d-flex w-100 justify-content-between">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("За нас", "AboutUs", "Home", new { area = "" }, new { @class = "nav-link text-dark border-end border-dark pe-3" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Контакти", "Contacts", "Home", new { area = "" }, new { @class = "nav-link text-dark border-end border-dark pe-3" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Търси", "Search", "Home", new { area = "" }, new { @class = "nav-link text-dark pe-3" })
                </li>
            </ul>

            <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Home" , new { area="" })">
                <img width="200" src="@Url.Content("~/Content/imgs/logo.png")" />
            </a>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    @Html.ActionLink("Впиши се", "Login", "Home", new { area = "" }, new { @class = "nav-link text-dark" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Регистрирай се", "Signup", "Home", new { area = "" }, new { @class = "nav-link text-dark border-start border-dark ps-3" })
                </li>
            </ul>
        </div>
    </div>
</nav>